
extends layout 
block content 

main
    section#intro-text
        span Simple Kitchen
        h3
            | Simple &amp; Comforting 
            br
            |             Recipes All Year Round
        p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
        //
            <p class="success">SUCCESS</p>
            <p class="error">ERROR</p>
            <p class="warning">WARNING</p>
        button.submit-buttton View Recipes
    section#intro-image
        img(src='images/louisiana-barbecued-shrimp.webp' alt='Louisiana Barbecued Shrimp')
footer
    | &copy; Copyright 2021