doctype html
head
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(rel='StyleSheet' href='/css/form.css' type='text/css')
    link(rel='StyleSheet' href='/css/styles.css' type='text/css')
    script(src='script.js')
header
    nav
        ul
            li
                a(href='/') Home
            li |
            li
                a(href='/blog') Blog
    a.registerButton(href='/register') Register

block content
