doctype html 
html 
    head 
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='/css/form.css' type='text/css')
        script(src='script.js')

    body
    div.container.listing-reg 
        h1 My Amazing App 

        block content