extends layout 

block content
    main
        section#intro-text
            span Simple Kitchen
            h3
                | Simple &amp; Comforting 
                br
                | Recipes All Year Round
        section#reg-form
            include ./form.pug

