extends layout

block content
    div.container.listing-reg
        if registrations.length
            table.listing-table.table-light.table-striped
                tr
                    th Name
                    th Email
                each registration in registrations
                    tr
                        td= registration.name
                        td= registration.email
        else
            p No registrations yet :(
    //- include ./footer.pug